@using WebApplicationMVCTanisma.Models;

@{
    ViewBag.Title = "Listele";
}
@{
    int siraNo = 1;
}
<h2>Tüm Öğrenciler</h2>
<br />

<table class="table table-hover">
    <tr>
        <th style="text-align:center">Sıra No</th>
        <th style="text-align:center">Ad</th>
        <th style="text-align:center">Soyad</th>
        <th style="text-align:center">Doğum Tarihi</th>
        <th style="text-align:center">Güncelleme İşlemi</th>
        <th style="text-align:center">Silme İşlemi</th>
    </tr>
    @foreach (Ogrenci item in Model)
    {
        <tr style="text-align:center">
            <td>@(siraNo++)</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.DogumTarihi</td>
            <td>
                @*<a href="Guncelle/@item.Id" class="btn btn-warning">Güncelle</a>*@
                @Html.ActionLink("Güncelle", "Guncelle", "Ogrenci", new { id = item.Id }, new { @class = "btn btn-warning" })
            </td>
            <td>
                @*<a href="Sil/@item.Id" class="btn btn-danger">Sil</a>*@ @*Eşdeğer*@
                @Html.ActionLink("Sil", "Sil", "Ogrenci", new { id = item.Id }, new { @class = "btn btn-danger" })
                <input type="button" value="Sil" class="btn btn-default" style="background-color:pink" onclick="ConfirmDelete(@item.Id)"/>
            </td>
        </tr>

    }

</table>
<br />

<a href="/Ogrenci/Ekle" class="btn btn-success">Yeni Öğrenci Ekle</a>

<script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    function ConfirmDelete(id) {
        var x = confirm("Silmek istediğinize emin misiniz?");
        if (x) {
            $.ajax({
                type: "Post",
                url: "/Ogrenci/Sil2/"+id,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (response) {
                    //alert(response.status);
                    alert('Silindi');
                    window.location.href = "/Ogrenci/Listele";
                },
                error: function () {
                    alert('Beklenmedik hata oldu.Silinemedi!');
                }
            });
        }
    }
</script>