@model IEnumerable<WebApplicationMVCTanisma.Models.Ogrenci>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Öğrenci Ekle", "Create",null, new { @class = "btn btn-default" ,@style="background-color:navy;color:powderblue" })
</p>
<table class="table">
    <tr>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th style="text-align:center">
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </th>
        <th style="text-align:center">İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.DogumTarihi)
        </td>
        <td style="text-align:center">
            @Html.ActionLink("Güncelle", "Edit", new {  id=item.Id },new { @class="btn btn-warning"}) 
            @Html.ActionLink("Detaylar", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
